<!-- Footer -->
<hr />
<footer class="bg-dark text-light pt-4">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>
                    We provide top-notch services to help you grow your business. Our dedicated team is here to support you every step of the way.
                </p>
            </div>

            <!-- Useful Links -->
            <div class="col-md-4 mb-3">
                <h5>Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Services</a></li>
                    <li><a href="#" class="text-light">Contact Us</a></li>
                    <li><a href="#" class="text-light">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Social Media -->
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <div>
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-linkedin fa-2x"></i></a>
                </div>
            </div>
        </div>

        <hr class="bg-light">

        <!-- Copyright Section -->
        <div class="text-center py-3">
            <p class="mb-0">© 2024 Your Company Name. All Rights Reserved.</p>
        </div>
    </div>
</footer>

